<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
        integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.0/js/bootstrap.bundle.min.js"
        integrity="sha512-9GacT4119eY3AcosfWtHMsT5JyZudrexyEVzTBWV3viP/YfB9e2pEy3N7WXL3SV6ASXpTU0vzzSxsbfsuUH4sQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <title>
        <%= title %>
    </title>
</head>

<body>

    <div class="container">
        <div class="wrapper">
            <div class="nav__container">
                <div class="nav__options__button">
                    <i class="fa-solid fa-house"></i>
                </div>
                <div class="nav__options__button">
                    <i class="fa-solid fa-video"></i>
                </div>
                <div class="nav__options__button">
                    <i class="fa-solid fa-bell"></i>
                </div>
                <div class="nav__options__button">
                    <i class="fa-brands fa-rocketchat"></i>
                </div>
                <div class="nav__options__button" id="nav__chatBtn">
                    <i class="fa-solid fa-user-group"></i>
                </div>
            </div>

            <div class="video__container">
                <div class="video__channel__title">
                    <i class="fa-solid fa-book-open-reader"></i>
                    <p>WebRTC-First Study</p>
                </div>
                <div class="video__grid">
                    <div class="video__Box">

                        <div class="local__container">
                        </div>

                        <div class="remote__container">
                            <video src=""></video>
                            <video src=""></video>
                            <video src=""></video>
                            <video src=""></video>
                        </div>
                    </div>
                </div>
                <div class="video__navigation">
                    <div class="options__button">
                        <i class="fa-solid fa-video"></i>
                    </div>
                    <div class="options__button">
                        <i class="fa-solid fa-microphone"></i>
                    </div>
                    <div class="options__button">
                        <i class="fa-solid fa-border-all"></i>
                    </div>
                    <div class="options__button">
                        <i class="fa-solid fa-closed-captioning"></i>
                    </div>
                    <div class="options__button" id="chatBtn">
                        <i class="fa-solid fa-comment"></i>
                    </div>
                </div>
            </div>


            <div class="chat__container">
                <!-- <nav class="chat__navbar">
                    <div class="nav__message">
                        <p>Message</p>
                    </div>
                    <div class="nav__group">
                        <p>Group</p>
                    </div>
                </nav> -->

                <ul class="nav nav-tabs chat__navbar" id="myTab" role="tablist">
                    <li class="nav-item nav__message" role="presentation">
                        <button class="nav-link active" id="message-tab" data-bs-toggle="tab" data-bs-target="#message"
                            type="button" role="tab" aria-controls="message" aria-selected="true">Message</button>
                    </li>
                    <li class="nav-item nav__group" role="presentation">
                        <button class="nav-link" id="group-tab" data-bs-toggle="tab" data-bs-target="#group"
                            type="button" role="tab" aria-controls="group" aria-selected="false">Group</button>
                    </li>
                </ul>

                <div class="tab-content" id="chatTabContent">
                    <div class="tab-pane fade show active" id="message" role="tabpanel" aria-labelledby="message-tab">
                        <div class="chat__message__window">
                            <div class="inner__message__window">

                                <div class="send__peer">
                                    <div class="send__profile"></div>
                                    <div class="send__message">sdag</div>
                                </div>
                                <div class="receive__peer">
                                    <div class="receive__profile"></div>
                                    <div class="receive__message">sdagg</div>
                                </div>

                            </div>
                            <div class="message__input">
                                <input type="text" placeholder="Please Input the Message">
                                <button>Send</button>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane fade" id="group" role="tabpanel" aria-labelledby="group-tab">
                        <div class="chat__group__window">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
    <script type="module" src="js/controller/main.js"></script>
</body>

</html>