<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="css/style.css">

    <title>
        <%= title %>
    </title>
</head>

<body>

    <div class="container">
        <div class="wrapper">
            <div class="nav__container">

            </div>

            <div class="video__container">
                <div class="video__channel__title"></div>
                <div class="video__grid"></div>
                <div class="video__navigation"></div>
            </div>


            <div class="chat__container">

            </div>
        </div>
    </div>

</body>

</html>