* {
    margin : 0;
    padding :0;
    box-sizing : border-box;
}

.container {
    width : 100vw;
    height : 100vh;
    background : #000;
}

.wrapper {
    display : flex;
    width : 100%;
    height : 100%;
}

.nav__container {
    flex : 0.1;
    background : #fff;
    border : 1px solid #adafb1;
    display : flex;
    flex-direction : column;
    align-items : center;
    justify-content : center;
}

.nav__options__button {
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    width : 50px;
    height : 50px;
    padding : .2rem;
    margin : .5rem;
    border : 2px solid #000;
    border-radius : .3rem;
}

.nav__options__button i {
    font-size : 1.5rem;
}


.video__container {
    flex : 0.7;
    display : flex;
    flex-direction : column;
    background : #fff;
}

.chat__container {
    flex : 0.2;
    background : #2828;
}

.video__channel__title {
    width : 100%;
    background : #fff;
    flex : 0.1;
    border-bottom : 1px solid #adafb1;
    display : flex;
    align-items : center;
    justify-content : center;
}

.video__channel__title i {
    font-size : 2rem;
}

.video__channel__title p {
    margin-left : .5rem;
    font-size : 1.4rem;
}

.video__grid {
    display : flex;
    justify-content : center;
    align-items : center;
    width : 100%;
    height : 50%;
    flex : 0.8;
}

.video__Box {
    position : relative;
    display : flex;
    background : #000;
    border-radius : 20px;
    width : 90%;
    height : 90%;
    overflow : hidden;
}

.video__SurfaceBox {
    width : 100%;
    height : 100%;
}

.video__SurfaceBox video {
    width : 100%;
    height : 100%;
    object-fit : cover;
}

.video__SurfaceBox > .player__name {
    position : absolute;
    top : .3rem;
    left : .3rem;
    width : 130px;
    height : 30px;
    border : 1px solid #000;
}

.local__container {
    position : relative;
    width : 100%;
    height : 100%;
}

.remote__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8rem;
    height: 100%;
    border : 1px solid #888;
    padding : 0.5rem;
    margin : 0.5rem;
    overflow-y : auto;
}

.remote__container video {
    width : 7.2rem;
    height : 7.2rem;
    border-radius : .5rem;
    border : 1px solid #fff;
    margin-top : .2rem;
}

.video__navigation {
    display : flex;
    justify-content : center;
    align-items : center;
    width : 100%;
    flex : 0.1;
    background : #fff;
    border-top : 1px solid #888;
}

.options__button {
    display : flex;
    justify-content : center;
    align-items : center;
    padding : .2rem;
    margin : .4rem;
    background : #fff;
    width : 50px;
    height : 50px;
    border : 2px solid #000;
    border-radius : 0.3rem;
}

.options__button i {
    font-size : 1.3rem;
}